@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Noto+Serif&display=swap');

:root {
    --heading-font: "Kalam";
    --paragraph-font: Noto Seri , Helvetica, sans-serif;
}


body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-top: none ;
   
}
